/* assets/css/schemes/nord-aurora.css */

:root {
  /* Polar Night - Palette 1 */
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;

  /* Snow Storm - Palette 2 */
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;

  /* Frost - Palette 3 */
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;

  /* Aurora - Palette 4 */
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;

  /* Map to Blowfish naming convention */
  --color-neutral-background: var(--nord0);
  --color-neutral-text: var(--nord4);
  --color-neutral-50: var(--nord1);
  --color-neutral-100: var(--nord1);
  --color-neutral-200: var(--nord2);
  --color-neutral-400: var(--nord3);
  --color-neutral-800: var(--nord6);

  --color-primary-400: var(--nord9);
  --color-primary-500: var(--nord8);
  --color-primary-600: var(--nord7);
}

.dark, :root {
  --color-neutral-background: var(--nord0);
  --color-neutral-text: var(--nord4);
  --color-primary-500: var(--nord8);
}
